---
- name: Install prerequisite packages
  when: desired_state == 'present'
  become: true
  ansible.builtin.dnf:
    name:
      - acl
      - sudo
      - wget
      - perl
    state: present

- name: Manage python3 packages
  become: true
  ansible.builtin.dnf:
    name:
      - python3-psycopg2
      - python3-cryptography
    state: "{{ desired_state }}"

- name: Fixup some locale issues
  when: desired_state == 'present'
  become: true
  ansible.builtin.lineinfile:
    dest: /etc/locale.conf
    line: "{{ item }}"
    state: present
    create: true
    mode: '0644'
  loop:
    - LANG=en_us.UTF-8
    - LANGUAGE=en_us.UTF-8

- name: Manage PostgreSQL module
  become: true
  ansible.builtin.dnf:
    name: "@postgresql:{{ postgres_version }}"
    state: "{{ desired_state }}"
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version | int == 8

- name: Manage PostgreSQL packages
  become: true
  ansible.builtin.dnf:
    name:
      - postgresql-server
      - postgresql-contrib
    state: "{{ desired_state }}"
  register: install_postgresql
  until: install_postgresql is success
  retries: 3
  delay: 3
