{{ ansible_managed | comment }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# See: https://www.postgresql.org/docs/current/static/auth-pg-hba-conf.html

# TYPE  DATABASE        USER            ADDRESS                 METHOD
## localhost connections through Unix port (user name), IPv4, IPv6 (MD5 pw).
local   all             all                                     password

## remote connections IPv4
{% if postgres_allowed_hosts and postgres_allowed_hosts is iterable -%}
{%- for host in postgres_allowed_hosts %}
{{ host.type | default('hostssl') }}         {{ host.database | default('all') }}        {{ host.user | default('all') }}             {{ host.address | default('samenet') }}            {{ host.method | default('password') }}
{% endfor %}
{% endif %}
